{% extends 'base.html.twig' %}


{% block title %}
    Simply Films | Ajouter un film
{% endblock %}
{% block body %}

<div class=container>
<br>
<h1>Ajouter un film à l'aide de l'API</h1>
  <form action={{ path('api_call')}} method=post>
            <input id="search_movie" name="search_movie"type="search" placeholder="Taper le nom d'un film">
            <button type=submit class="btn btn-success" >Rechercher</button>
        </form><br>
<h1>Ajouter un film manuellement</h1>

{{form_start(form)}}
    {{ form_row(form.title) }}   
    {{ form_row(form.resume) }}
    {{ form_row(form.year) }}
    {{ form_row(form.released) }}   
    {{form_row(form.runtime)}}
    {{form_row(form.genre)}}
    {{form_row(form.director)}}   
    {{form_row(form.language)}}
    {{form_row(form.country)}}
    {{form_row(form.awards)}}
    {{form_row(form.poster)}}
    {{form_row(form.type)}}   
    {{form_row(form.DVD)}}
    {{form_row(form.Production)}}
    {{form_row(form.available)}}

    <button type="submit" class="btn btn-success">Ajouter à la DVDthèque</button> <br>

{{form_end(form)}}


</div>


{% endblock %}
