{% extends 'base.html.twig' %}

{% block body %}

<div class=container>
    <div class= "row mb-5 mt-5"   >
        <h1>Films</h1>
        <div>

            {{form_start(form)}}
                <div class= 'd-flex ml-3'>
                    {{form_row(form.Moviesearch)}}
                    <button type="submit">Envoyer</button>
                </div>

            {{form_end(form)}}

        </div>
        <div id="movie_filters" class='ml-4' >
            <span class='mr-1'  >Filtrer par:</span>
            <a class= 'mr-3'href="{{ path('filterbytitle' )}}"> Titre</a>
             <a class= 'mr-3'href="{{ path('filterbyreleaseddate' )}}">Ancienneté </a>
             <a class= 'mr-3' href="{{ path('filterbyruntime' )}}"> Durée </a>
            <a class= 'mr-3' href="{{ path('filteravailablefirst' )}}"> Disponibilité </a>
        </div>
    
    </div>

    <div class="row ">
        <div class="col-12 col-md-8 d-flex flex-wrap">

            {% for movie in movies %}

            <div class="card col-4">
                <img src="{{movie.poster}}" class="card-img-top" alt="">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">{{movie.title}}</h5> 
                        <h6 class="card-title" >{{movie.year}}</h6>
                        <span>(durée:{{movie.runtime}})</span>
                        <p class="card-text"></p>
                    </div>
                    {% if (movie.available == 0) %}
                    <div>

                        <p class='text-danger'>INDISPONIBLE</p>
                    </div>
                    {% endif %}
                       {% if (movie.available == 1) %}
                    <div>

                        <p class='text-success'>DISPONIBLE</p>
                    </div>
                    {% endif %}
                    <div>
                        <a class="btn btn-dark" href="{{ path('add_film',{'id': movie.id })}}">Ajouter au panier </a>
                    </div>
                    	{% if is_granted ('ROLE_ADMIN') %}
                    {# Modifier en tant qu'admin #}
                    <div>
                        <a class="btn btn-light" href="{{ path('edit',{'id': movie.id })}}">Modifier</a>
                    </div>
                    {# Supprimer en tant qu'admin #}
                    <div>
                        <a class="btn btn-light" href="{{ path('remove',{'id': movie.id })}}" onclick="return confirm('Etes-vous sûr.e de vouloir supprimer ce film ?')">Supprimer</a>
                    </div>

                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    
		<div class="col-6 col-md-4">
			<div class="row">
				<h2 class="mb-5">Mes locations</h2>
			</div>			
				{% for userorder in userorders %}
					<div >
						{% for movieorder in userorder.films %}
							<div class="d-flex align-items-center justify-content-between">
								<p>{{movieorder.movie.title}}</P>
								<a href="{{ path('returnMovie',{'id': movieorder.movie.id })}}"><img src="asset/Remove_from_Shopping_Basket-512.png" style="width: 3rem"><a></br>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
		
    </div>
</div>


{% endblock %}
